.tab-link {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;

    transition: 0.3s;
}

.tab-link:hover {
    background-color: #CA965C;
}

.tab-link.active {
    background-color: #CA965C;
}

.tab-selector {
    overflow: hidden;
    border: 0;
    background-color: #EEC373;
}

.tab-viewer {
    display: grid;
    grid-auto-rows: 2;
}

.tab-selector {
    grid-row: 1;
}

.tab-view {
    grid-row: 2;
}

.tab-content {
    display: none;
    padding: 0;
    border: 0;
}