@import '../../custom-standards';

.tab-viewer {
    height: 100%;
}

.tab-list {
    flex: 0 1 auto;
    list-style: none;
}

.tab-list > li {
    padding: 0 .5rem;
    background-color: $color-white-chocolate;
    border-radius: .3rem .3rem 0 0;
}

.pane {
    flex: 1 1 auto;
    background-color: $color-white-chocolate;
    border-radius: 0 .3rem 0 0;
}