/* BASE COLOR PALETTE */
$color-chocolate:                   #876445;
$color-cookie:                      #CA965C;
$color-raw-cookie:                  #EEC373;
$color-white-chocolate:             #F4DFBA;

/* REACT BOOTSTRAP CUSTOM TABS */
$nav-tabs-link-active-bg:           $color-white-chocolate;
$nav-link-color:                    $color-chocolate;
$nav-link-hover-color:              black;
$nav-tabs-link-active-color:        black;
$nav-tabs-border-color:             $color-chocolate;
$nav-tabs-link-hover-border-color:  $color-chocolate $color-chocolate $nav-tabs-border-color;
$nav-tabs-link-active-border-color: $color-chocolate $color-chocolate $nav-tabs-link-active-bg;

/* SHADOWS SECTION */

$shadow-top-short:
0 -1px 1px hsl(0deg 0% 0% / 0.075),
0 -2px 2px hsl(0deg 0% 0% / 0.075),
0 -4px 4px hsl(0deg 0% 0% / 0.075);
$shadow-top-long:
0 -8px 8px hsl(0deg 0% 0% / 0.075),
0 -16px 16px hsl(0deg 0% 0% / 0.075);

$shadow-bottom-short:
0 1px 1px hsl(0deg 0% 0% / 0.075),
0 2px 2px hsl(0deg 0% 0% / 0.075),
0 4px 4px hsl(0deg 0% 0% / 0.075);
$shadow-bottom-long:
0 8px 8px hsl(0deg 0% 0% / 0.075),
0 16px 16px hsl(0deg 0% 0% / 0.075);

$shadow-left-short:
-1px 0 1px hsl(0deg 0% 0% / 0.075),
-2px 0 2px hsl(0deg 0% 0% / 0.075),
-4px 0 4px hsl(0deg 0% 0% / 0.075);
$shadow-left-long:
-8px 0 8px hsl(0deg 0% 0% / 0.075),
-16px 0 16px hsl(0deg 0% 0% / 0.075);

$shadow-right-short:
1px 0 1px hsl(0deg 0% 0% / 0.075),
2px 0 2px hsl(0deg 0% 0% / 0.075),
4px 0 4px hsl(0deg 0% 0% / 0.075);
$shadow-right-long:
8px 0 8px hsl(0deg 0% 0% / 0.075),
16px 0 16px hsl(0deg 0% 0% / 0.075);

.shadow-top-short {
    box-shadow: $shadow-top-short;
}

.shadow-top-long {
    box-shadow: $shadow-top-short, $shadow-top-long;
}

.shadow-bottom-short {
    box-shadow: $shadow-bottom-short;
}

.shadow-bottom-long {
    box-shadow: $shadow-bottom-short, $shadow-bottom-long;
}

.shadow-right-short {
    box-shadow: $shadow-right-short;
}

.shadow-right-long {
    box-shadow: $shadow-right-short, $shadow-right-long;
}

.shadow-left-short {
    box-shadow: $shadow-left-short;
}

.shadow-left-long {
    box-shadow: $shadow-left-short, $shadow-left-long;
}

.bg-color-chocolate {
    background-color: $color-chocolate;
}

.bg-color-white-chocolate {
    background-color: $color-white-chocolate;
}

.bg-color-cookie {
    background-color: $color-cookie;
}

.bg-color-raw-cookie {
    background-color: $color-raw-cookie;
}

.display-flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testing-div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


    .default-card-class {
        display: inline-block;
        width: 250px;
        height: 250px;
        background-color: aliceblue;
    }
}

// \/ ULTIMA LINHA \/ - importante pro bootstrap funcionar bem :)
@import "~bootstrap/scss/bootstrap"