/* BASE COLOR PALETTE */
$color-chocolate:                   #876445;
$color-cookie:                      #CA965C;
$color-raw-cookie:                  #EEC373;
$color-white-chocolate:             #F4DFBA;

/* REACT BOOTSTRAP CUSTOM TABS */
$nav-tabs-link-active-bg:           $color-white-chocolate;
$nav-link-color:                    $color-chocolate;
$nav-link-hover-color:              black;
$nav-tabs-link-active-color:        black;
$nav-tabs-border-color:             $color-chocolate;
$nav-tabs-link-hover-border-color:  $color-chocolate $color-chocolate $nav-tabs-border-color;
$nav-tabs-link-active-border-color: $color-chocolate $color-chocolate $nav-tabs-link-active-bg;


.bg-color-chocolate {
    background-color: $color-chocolate;
}

.bg-color-white-chocolate {
    background-color: $color-white-chocolate;
}

.bg-color-cookie {
    background-color: $color-cookie;
}

.bg-color-raw-cookie {
    background-color: $color-raw-cookie;
}

// \/ ULTIMA LINHA \/ - importante pro bootstrap funcionar bem :)
@import "~bootstrap/scss/bootstrap"