@import "../../custom-standards";

.signup-page {
    height: 100vh;

    .signup-card {
        background-color: $color-white-chocolate;
        padding: .5rem;
    
        .signup-form {
            display: flex;
            flex-direction: column;

            .submit button {
                margin-top: .5rem;
            }

            label {
                flex-direction: column;
            }
        }
    }
}